<h2>Welcome, <%= @student.name %>!</h2>
<h4>Here are your study sessions:</h4>

<br>

<% @student.study_sessions.each do |study_session| %>
  <div>
    <hr>
    <p>Date: <%= study_session.date %></p>
    <p>Hours Studied: <%= study_session.hours %><p>
    <p>Learned: <%= study_session.summary %></p>
    <a href="/study_sessions/<%= study_session.id %>"><input class="btn" type="button" value="Edit"></a>
    <hr>
  <div>
    <br>
<% end %>

<br>

<% if logged_in? %>
  <a href="/study_sessions/new_study_session"><input class="btn" type="button" value="New Study Session"></a>
  <a href="/logout"><input class="btn" type="button" value="Log Out"></a>
<% end %>
