<h3>Study Session Info:</h3>
<hr>
<br>
<p>Date: <%= @study_session.date %></p>
<p>Hours Studied: <%= @study_session.hours %></p>
<p>Summary: <%= @study_session.summary %></p>
<hr>

<a href="/study_sessions/<%=@study_session.id%>/edit"><input class="btn" type="button" value="Edit"></a>

<form action="/study_sessions/<%=@study_session.id%>" method="POST">
  <input type="hidden" id="hidden" name="_method" value="delete">
  <input type="submit" id="submit" value="Delete">
</form>

<a href="/study_sessions"><input class="btn" type="button" value="Return to All Study Sessions"></a>
